.form__button {
  padding: 0;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  border: 0;
  margin-bottom: 33px;
  margin-top: 48px;
  background-color: #000;
  border-radius: 2px;
}

@media screen and (max-width: 580px) {
  .form__button {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
    margin-top: 40px;
  }
}
