.profile__title {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFF;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}

@media screen and (max-width: 900px) {
  .profile__title {
    font-size: 30px;
    line-height: 38px;
  }
}

@media screen and (max-width: 750px) {
  .profile__title {
    max-width: 189px;
    font-size: 27px;
    line-height: 33px;
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  .profile__title {
    margin: 0;
  }
}
